 body {
    font-family: Roboto;
 }

.bodycontainer {
    display: flex;
}

.navbar {
    flex: 1;
}

.gridcontainer {
    flex: 4;
}

.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    height: 680px;
}

.row {
    border: 1px solid black;
    flex: 1 1 58px;
}

.input {
    height: 30px;
    border-radius: 15px;
}

.btn {
    background-color: cornflowerblue;
    color: azure;
    height: 30px;
    border-radius: 15px;
}